<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RapsoHelper.Properties.Settings.cnx" connectionString="Data Source=sql.freeasphost.net\MSSQL2016;Initial Catalog=rapsodyapp_db;Persist Security Info=True;User ID=rapsodyapp;Password=123abc"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>